
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/vs2015.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"></script>
    <!--link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/github-dark.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/highlight.min.js"></script-->
    <script>hljs.initHighlightingOnLoad(); //hljs.highlightAll();</script>
    <script src="./hacci.js"></script>
    <style>
        .example {
            border: 1px solid #cccccc;
            width: calc(100% - 40px);
            padding: 10px 20px;
            margin: 10px 0;
        }
    </style>
    </head>
    <body>
        <h1>Hacci Demo</h1>
        <a href="https://github.com/metalsm7/hacci">Github link</a>
        <hr />

        <h2>Table of contents</h2>

        <table width="100%">
            <tr valign="top"><td rowspan="9" style="font-weight: bold;">Model&nbsp;&nbsp;&nbsp;</td><td>- <a href="#app_model_radio_ex1">Input - Radio #1</a></td></tr>
            <tr><td>- <a href="#app_model_radio_ex2">Input - Radio #2 (grouped by name)</a></td></tr>
            <tr><td>- <a href="#app_model_checkbox_ex1">Input - Checkbox #1</a></td></tr>
            <tr><td>- <a href="#app_model_checkbox_ex2">Input - Checkbox #2 (grouped by name)</a></td></tr>
            <tr><td>- <a href="#app_model_select_ex1">Input - Select #1 (single)</a></td></tr>
            <tr><td>- <a href="#app_model_select_ex2">Input - Select #2 (multiple)</a></td></tr>
            <tr><td>- <a href="#app_model_text_ex1">Input - Text</a></td></tr>
            <tr><td>- <a href="#app_model_textarea_ex1">Input - Textarea</a></td></tr>
            <tr><td>- <a href="#app_model_texthtml_ex1">Text/Html</a></td></tr>
            
            <tr valign="top"><td rowspan="5" style="font-weight: bold;">Event&nbsp;&nbsp;&nbsp;</td><td>- <a href="#app_event_change_ex1">Change (for radio, checkbox)</a></td></tr>
            <tr><td>- <a href="#app_event_change_ex2">Change (for checkbox, select)</a></td></tr>
            <tr><td>- <a href="#app_event_input_ex1">Input (for text, textarea)</a></td></tr>
            <tr><td>- <a href="#app_event_click_ex1">Click</a></td></tr>
            <tr><td>- <a href="#app_event_scroll_ex1">Scroll (scroll, scroll.hit.top, scroll.hit.bottom)</a></td></tr>
            
            <tr valign="top"><td rowspan="2" style="font-weight: bold;">Condition&nbsp;&nbsp;&nbsp;</td><td>- <a href="#app_condition_if_ex1">If / Neither</a></td></tr>
            <tr><td>- <a href="#app_condition_disabled_ex1">Disabled</a></td></tr>
            
            <tr valign="top"><td rowspan="1" style="font-weight: bold;">Template&nbsp;&nbsp;&nbsp;</td><td>- <a href="#app_template_ex1">Template</a></td></tr>
        </table>
        <hr />
        <div>
            <div id="app_model_radio_ex2">
                <h3>Input - Radio #2 (grouped by name)</h4>
                <div class="example">
                    <input hc:model="val" hc:change="onChange" id="model_input_radio_ex2_1" type="radio" name="radio_ex2" value="red"><label for="model_input_radio_ex2_1">red</label>
                    <input hc:model="val" hc:change="onChange" id="model_input_radio_ex2_2" type="radio" name="radio_ex2" value="green"><label for="model_input_radio_ex2_2">green</label>
                    <input hc:model="val" hc:change="onChange" id="model_input_radio_ex2_3" type="radio" name="radio_ex2" value="yellow"><label for="model_input_radio_ex2_3">yellow</label>
                    <label hc:ref="label"></label>
                    <br />
                    <button hc:if="visible.btn_clear" hc:click="setColor(null)">model set null</button>
                    <button hc:neither="visible.btn_clear" hc:click="setColor('red')" style="background-color: red; border: 1px solid #aaaaaa;">model set red</button>
                    <button hc:neither="visible.btn_clear" hc:click="setColor('green')" style="background-color: green; border: 1px solid #aaaaaa;">model set green</button>
                    <button hc:neither="visible.btn_clear" hc:click="setColor('yellow')" style="background-color: yellow; border: 1px solid #aaaaaa;">model set yellow</button>
                </div>
            </div>
            <pre><code hc:ref="code" class="language-html">
&lt;div id="app_model_radio_ex2"&gt;
    &lt;h3&gt;Input - Radio #2 (grouped by name)&lt;/h4&gt;
    &lt;div class="example"&gt;
        &lt;input hc:model="val" id="model_input_radio_ex2_1" type="radio" name="radio_ex2" value="red"&gt;&lt;label for="model_input_radio_ex2_1"&gt;red&lt;/label&gt;
        &lt;input hc:model="val" id="model_input_radio_ex2_2" type="radio" name="radio_ex2" value="green"&gt;&lt;label for="model_input_radio_ex2_2"&gt;green&lt;/label&gt;
        &lt;input hc:model="val" id="model_input_radio_ex2_3" type="radio" name="radio_ex2" value="yellow"&gt;&lt;label for="model_input_radio_ex2_3"&gt;yellow&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
new Hacci({
    el: document.querySelector('#app_model_radio_ex2'),
    data: {
        val: null
    }
}).mount();
&lt;/script&gt;
            </code></pre>
            <script type="text/javascript">
            window.hc1 = new Hacci({
                el: document.querySelector('#app_model_radio_ex2'),
                data: {
                    val: 'red',
                    visible: {
                        btn_clear: false,
                    }
                },
                method: {
                    onChange: function() {
                        console.log('onChange - val:' + this.val);
                        this.refs.label.innerText = ' / model val is ' + this.val;
                        this.visible.btn_clear = this.val !== null;
                    },
                    setColor: function(color) {
                        this.val = color;
                    }
                },
                mounted: function() {
                    // this.onChange();
                }
            }).mount();
            </script>
        </div>
    </body>
</html>